/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, body > header {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fdfdfd;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2rem;
  transition: padding .1s ease;
  background-color: #fdfdfd;
}

header.mini {
  padding: .6rem 2rem;
}

header a {
  color: inherit;
  text-decoration: none;
  display: block;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: .45px;
  color: #333;
}

header h1 span {
  color: #e93434;
}

header .button-hamburger {
  background: none;
  border: none;
  padding: 0;
  outline: 0;
  display: none;
}

header .button-hamburger img {
  width: 32px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  color: #333;
}

header nav ul li a {
  padding: 1rem;
  position: relative;
}

header nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0%;
  height: 1px;
  background-color: #333;
  transition: width .1s ease-out;
}

header nav ul li a:hover:after {
  width: 100%;
}

header {
  z-index: 2;
}

section.hero > div {
  z-index: 3;
}

div.anchor {
  height: 0;
  position: relative;
  top: -68px;
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.6rem;
  margin-left: -4px;
}

h2 {
  font-size: 1.8rem;
}

section.hero {
  background-color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  position: relative;
}

section.hero .hero-inner {
  font-family: "Montserrat", sans-serif;
  transform: translateY(-10vh);
  background-color: #fdfdfd55;
}

section.hero .hero-inner p {
  color: #444;
  font-size: 1rem;
}

section.hero .hero-inner h1 {
  color: #333;
  font-size: 5rem;
  margin-left: -6px;
  margin-bottom: 4px;
}

section.hero .hero-inner .links {
  margin-top: 18px;
  display: flex;
  align-items: center;
}

section.hero .hero-inner .links .social-media {
  margin-right: 24px;
}

section.hero .hero-inner .links .social-media img {
  width: 40px;
  margin-right: 16px;
  transition: transform .1s ease;
}

section.hero .hero-inner .links .social-media img:hover {
  transform: scale(1.1);
}

section.hero .hero-inner .links .social-media .hero-email {
  display: inline-flex;
  align-items: center;
}

section.hero .hero-inner .links .social-media .hero-email:hover {
  padding-right: 6rem;
}

section.hero .hero-inner .links .social-media .hero-email:hover .hero-email-text {
  display: block;
}

section.hero .hero-inner .links .social-media .hero-email-text {
  text-decoration: none;
  color: #444;
  display: none;
}

section.hero .hero-inner .links a.project-link {
  font-size: 1.1rem;
  color: #444;
  text-decoration: none;
  padding: 16px 0;
}

section.hero .hero-inner .links a.project-link:hover {
  text-decoration: underline;
}

section.hero .hero-scroll-indicator {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, -50%) rotateZ(45deg);
  width: 36px;
  height: 36px;
  cursor: pointer;
}

section.hero .hero-scroll-indicator:before, section.hero .hero-scroll-indicator:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-right: 4px solid #444;
  border-bottom: 4px solid #444;
  opacity: 1;
  bottom: 0;
  right: 0;
}

section.hero .hero-scroll-indicator:before {
  animation: fade-scroll 2s linear infinite;
}

section.hero .hero-scroll-indicator:after {
  animation: hit-rebound 2s linear infinite;
}

@keyframes fade-scroll {
  0% {
    bottom: 40px;
    right: 40px;
    opacity: 0;
  }
  18% {
    bottom: 0px;
    right: 0px;
    opacity: .8;
  }
  23% {
    opacity: 0;
  }
}

@keyframes hit-rebound {
  0%, 16% {
    bottom: 0px;
    right: 0px;
  }
  22% {
    bottom: -4px;
    right: -4px;
  }
  28% {
    bottom: 0px;
    right: 0px;
  }
}

section.about {
  background-color: #d84138;
  color: #FCFCFC;
  min-height: 800px;
  display: flex;
}

section.about .about-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.about .about-section .about-section-inner {
  width: 90%;
}

section.about .about-section h1 {
  margin-bottom: 1.6rem;
}

section.about .about-section h2 {
  margin-bottom: .6rem;
}

section.about .about-section p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

section.about .about-section ul li {
  line-height: 1.6rem;
}

section.about .about-section h1, section.about .about-section h2, section.about .about-section p, section.about .about-section ul, section.about .about-section .about-section-links {
  text-align: center;
}

section.about .about-section .about-section-links {
  margin: 1.6rem;
}

section.about .about-section .about-section-links span {
  margin-right: 1rem;
}

section.about .about-section .about-section-links span a {
  color: inherit;
}

section.about .about-section .skills-tables {
  display: flex;
  justify-content: space-evenly;
}

section.project {
  min-height: 800px;
  display: flex;
}

section.project:nth-of-type(even) {
  flex-direction: row-reverse;
}

section.project .project-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.project .project-section .preview-image {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

section.project .project-section .info {
  max-width: 80%;
  color: #FCFCFC;
}

section.project .project-section .info > h1, section.project .project-section .info > div {
  margin-bottom: 0.8rem;
}

section.project .project-section .info .info-description {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

section.project .project-section .info .info-technology ul li {
  display: inline-block;
  padding: 1rem;
}

section.project .project-section .info .info-technology ul li:first-of-type {
  margin-left: -1rem;
}

section.project .project-section .info .info-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

section.project .project-section .info .info-links .info-link {
  display: flex;
  align-items: center;
  color: #FCFCFC;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  font-size: 1.4rem;
}

section.project .project-section .info .info-links .info-link span {
  margin-top: -2%;
}

section.project .project-section .info .info-links .info-link:hover {
  text-decoration: underline;
}

section.project .project-section .info .info-links .info-link:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: .4em;
}

section.project .project-section .info .info-links .info-link.repo-link:before {
  background-image: url("../images/icons/code.svg");
}

section.project .project-section .info .info-links .info-link.demo-link:before {
  background-image: url("../images/icons/globe.svg");
}

section.project.bonk-skins {
  background-color: #1f904c;
}

section.project.bonk-skins .preview-image {
  background-image: url("../images/previews/bonkskins-preview.png");
  background-size: cover;
  box-shadow: inset -80px 0 60px -30px #1f904c;
}

section.project.reddit-bot {
  background-color: #323232;
}

section.project.reddit-bot h1.info-title {
  position: relative;
}

section.project.reddit-bot h1.info-title:before {
  content: "Unofficial";
  position: absolute;
  left: 3px;
  bottom: 100%;
  font-size: .9rem;
  color: #c0c0c0;
}

section.project.reddit-bot .preview-image {
  background-image: url("../images/previews/reddit.png");
  background-size: 18%;
}

section.project.strat-roulette {
  background-color: #14507b;
}

section.project.strat-roulette .preview-image {
  background-image: url("../images/previews/stratroulette-preview.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  box-shadow: inset -80px 0 60px -30px #14507b;
}

section.project.strat-roulette .info {
  max-width: 90%;
}

section.project.game-engine {
  background-color: #ca6a8a;
}

section.project.game-engine .preview-image {
  background-image: url("../images/previews/whirl.png");
  background-size: 54%;
}

section.contact {
  min-height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section.contact h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: #333;
}

section.contact .contact-email a {
  display: flex;
  align-items: center;
  color: #444;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

section.contact .contact-email a:hover {
  text-decoration: underline;
}

section.contact .contact-email a:hover img {
  transform: scale(1.1);
}

section.contact .contact-email a img {
  width: 40px;
  margin-right: 16px;
  transition: transform .1s ease;
}

section.contact .contact-email a span {
  font-size: 1.4rem;
}

@media (max-width: 950px) {
  html, body {
    overflow-x: hidden;
  }
  header {
    background-color: #fdfdfd;
    border-bottom: 1px solid #333;
    z-index: 5;
  }
  header.mini {
    padding: .4rem 2rem;
  }
  header .button-hamburger {
    display: block;
  }
  header nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    transform: translateY(100%);
    background-color: #fdfdfd;
    display: none;
  }
  header nav:after {
    content: "";
    background-color: rgba(40, 40, 40, 0.8);
    position: absolute;
    top: 100%;
    width: 100vw;
    height: 100vh;
  }
  header nav ul li {
    display: block;
    text-align: right;
    font-size: 1.2rem;
    border-bottom: 1px solid #B3B3B3;
  }
  header nav ul li a {
    padding: 1rem 1rem;
  }
  header .button-hamburger:hover + nav, header nav:active {
    display: block;
  }
  main.content {
    overflow-y: hidden;
  }
  section.hero .hero-inner {
    max-width: 80vw;
  }
  section.hero .hero-inner h1 {
    font-size: 3rem;
  }
  section.about {
    flex-direction: column;
    padding: 30px 0;
  }
  section.about .about-section-links {
    margin-bottom: 2em;
  }
  section.about .about-section-links span {
    display: block;
    margin-bottom: .2em;
  }
  section.project {
    flex-direction: column !important;
    align-items: stretch;
    min-height: unset;
  }
  section.project > div:nth-of-type(2) {
    flex: 1;
    margin-top: 2em;
  }
  section.project .project-section .info-technology, section.project .project-section .info-links {
    margin-top: 10px !important;
  }
  section.project .project-section .info-technology {
    text-align: center;
  }
  section.project .project-section .info-technology ul li {
    padding: .4rem !important;
  }
  section.project .project-section .preview-image {
    height: 40vh !important;
  }
  section.project.bonk-skins .preview-image {
    box-shadow: inset 0px -60px 30px -20px #1f904c;
  }
  section.project.strat-roulette .preview-image {
    box-shadow: inset 0px -60px 30px -20px #14507b;
  }
  section.contact {
    flex-direction: column;
  }
  section.contact h1 {
    font-size: 2.8rem;
  }
  section.contact .hero-email-text {
    font-size: 1.2rem !important;
  }
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 1.3rem;
  }
}
