section.about {
	background: linear-gradient(to bottom left, hsla(3, 100%, 36%, 1), hsl(0, 90%, 30%));
	color: $soft-white;
	min-height: 800px;
	display: flex;

	.about-section {
		flex: 1;

		display: flex;
		justify-content: center;
		align-items: center;
		
		.about-section-inner {
			width: 90%;
		}
		h1 {
			margin-bottom: $line-height;
		}
		h2 {
			margin-bottom: .6rem;
		}
		p {
			font-size: 1.2rem;
			line-height: $line-height;
		}
		b {
			background-color: hsla(0, 0%, 30%, 0.2);
			padding: 0 6px 3px 5px;
			border-radius: 4px;
			font-weight: normal;
		}
		ul li {
			line-height: $line-height;
		}
		h1, h2, p, ul, .about-section-links {
			text-align: center;
		}
		.about-section-links {
			margin: $line-height;

			span {
				display: inline-block;
				margin-right: 1rem;
				font-size: 1.1rem;
				font-weight: bold;
				letter-spacing: .4px;
				
				&.links-spacer {
					transform: translateY(-1px);
				}
				a {
					color: inherit;
					text-decoration: none;
				}
			}
		}
		.skills-tables {
			display: flex;
			justify-content: space-evenly;
		}
	}
}
