section.about {
	// background-color: rgb(194, 63, 56);
	background-color: rgb(216, 65, 56);
	color: $soft-white;
	min-height: 800px;
	display: flex;

	.about-section {
		flex: 1;

		display: flex;
		justify-content: center;
		align-items: center;
		
		.about-section-inner {
			width: 90%;
		}
		h1 {
			margin-bottom: $line-height;
		}
		h2 {
			margin-bottom: .6rem;
		}
		p {
			font-size: 1.2rem;
			line-height: $line-height;
		}
		ul li {
			line-height: $line-height;
		}
		h1, h2, p, ul, .about-section-links {
			text-align: center;
		}
		.about-section-links {
			margin: $line-height;

			span {
				margin-right: 1rem;
				font-size: 1.1rem;

				a {
					color: inherit;
				}
			}
		}
		.skills-tables {
			display: flex;
			justify-content: space-evenly;
		}
	}
}
