section.project {
	min-height: 800px;
	display: flex;
	
	&:nth-of-type(even) {
		flex-direction: row-reverse;
	}
	.project-section {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		.preview-image {
			background-repeat: no-repeat;
			background-position: center;
			width: 100%;
			height: 100%;
		}
		.info {
			max-width: 80%;
			color: $soft-white;
			
			> h1, > div {
				margin-bottom: 8px;
			}
			h1.info-title {
				font-family: "Montserrat", sans-serif;
				font-size: 3.6rem;
				margin-left: -4px;
			}
			.info-description {
				font-size: 1.2rem;
				line-height: 1.3em;
			}
			.info-technology ul li {
				display: inline-block;
				padding: 1rem;

				&:first-of-type {
					margin-left: -1rem;
				}
			}
			.info-links {
				display: flex;
				justify-content: space-evenly;
				margin-top: 40px;

				.info-link {
					display: flex;
					align-items: center;
					color: $soft-white;
					text-decoration: none;
					font-family: "Roboto", sans-serif;
					padding: 10px;
					font-size: 1.4rem;
					
					span {
						margin-top: -2%;
					}
					&:hover {
						text-decoration: underline;
					}
					&:before {
						content: "";
						display: inline-block;
						width: 24px;
						height: 24px;
						background-image: url("../images/icons/code.svg");
						background-size: cover;
						margin-right: .4em;
					}
				}
			}
		}
	}
	&.bonk-skins {
		// $bg-color: #10833d;
		$bg-color: #1f904c;
		background-color: $bg-color;

		.preview-image {
			background-image: url("../images/previews/bonkskins-preview.png");
			background-size: cover;
			box-shadow: inset -80px 0 60px -30px $bg-color;
		}
	}
	&.reddit-bot {
		$bg-color: #323232;
		background-color: $bg-color;
		
		h1.info-title {
			position: relative;

			&:before {
				content: "Unofficial";
				position: absolute;
				left: 3px;
				bottom: 100%;
				font-size: .9rem;
				color: #c0c0c0;
			}
		}
		.preview-image {
			background-image: url("../images/previews/reddit.png");
			background-size: 18%;
		}
	}
	&.strat-roulette {
		// $bg-color: #2e6186;
		$bg-color: #14507b;
		background-color: $bg-color;

		.preview-image {
			background-image: url("../images/previews/stratroulette-preview.png");
			background-size: cover;
			width: 100%;
			height: 100%;
			box-shadow: inset -80px 0 60px -30px $bg-color;
		}
		.info {
			max-width: 90%;
		}
	}
	&.game-engine {
		$bg-color: #ca6a8a;
		background-color: $bg-color;

		.preview-image {
			background-image: url("../images/previews/mobsin.png");
			background-size: 54%;
		}
	}
}
