section.project {
	min-height: 800px;
	display: flex;
	
	&:nth-of-type(odd) {
		flex-direction: row-reverse;
	}
	.project-section {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		.preview-image {
			background-repeat: no-repeat;
			background-position: center;
			width: 100%;
			height: 100%;
		}
		.info {
			max-width: 80%;
			color: $soft-white;
			
			> .info-title, > div {
				margin-bottom: $line-height / 2;
			}
			a.info-title {
				display: block;
				color: inherit;
				text-decoration: none;
			}
			.info-description {
				font-size: 1.2rem;
				line-height: $line-height;
			}
			.info-technology ul li {
				display: inline-block;
				padding: 1rem;

				&:first-of-type {
					margin-left: -1rem;
				}
			}
			.info-links {
				display: flex;
				justify-content: space-evenly;
				margin-top: 40px;

				.info-link {
					display: flex;
					align-items: center;
					color: inherit;
					text-decoration: none;
					font-family: "Roboto", sans-serif;
					padding: 10px;
					font-size: 1.2rem;
					
					span {
						position: relative;
						margin-top: -2%;


						&:after {
							content: "";
							position: absolute;
							left: 0;
							top: 100%;
							width: 0%;
							height: 1px;
							background-color: $soft-white;
							transition: width .1s ease-out;
						}
						&:hover:after {
							width: 100%;
						}
					}
					&:before {
						content: "";
						display: inline-block;
						width: 24px;
						height: 24px;
						background-size: contain;
						background-repeat: no-repeat;
						margin-right: .4em;
					}
					&.repo-link:before {
						background-image: url("../images/icons/code.svg");
					}
					&.demo-link:before {
						background-image: url("../images/icons/globe.svg");
					}
					&.doc-link:before {
						background-image: url("../images/icons/document.svg");
					}
				}
			}
		}
	}
	&.shoutout {
		.info {
			color: $darkest-grey;

			.info-link {
				span:after {
					background-color: $darkest-grey !important;
				}
				&:before {
					filter: invert(82%);
				}
			}
		}
		.preview-image {
			background-image: url("../images/previews/shoutout.png");
			background-size: 90%;
		}
	}
	&.bonk-skins {
		background: linear-gradient(to left, $bonk-skins-bg-from, $bonk-skins-bg-to 50%);

		.preview-image {
			background-image: url("../images/previews/bonkskins-preview.png");
			background-size: cover;
			@include project-preview-fade($bonk-skins-bg-to);
		}
	}
	&.reddit-bot {
		background: linear-gradient(to right, $reddit-bot-bg-from, $reddit-bot-bg-to);
		
		h1.info-title {
			position: relative;

			&:before {
				content: "Unofficial";
				position: absolute;
				left: 3px;
				bottom: 100%;
				font-size: .9rem;
				color: #c0c0c0;
			}
		}
		.preview-image {
			background-image: url("../images/previews/reddit.png");
			background-size: 18%;
		}
	}
	&.strat-roulette {
		background: linear-gradient(to left, $strat-roulette-bg-from, $strat-roulette-bg-to 50%);

		.preview-image {
			background-image: url("../images/previews/stratroulette-preview.jpg");
			background-size: cover;
			width: 100%;
			height: 100%;
			@include project-preview-fade($strat-roulette-bg-to);
		}
		.info {
			max-width: 90%;
		}
	}
	&.game-engine {
		background: linear-gradient(to right, $game-engine-bg-from, $game-engine-bg-to);

		.preview-image {
			background-image: url("../images/previews/whirl.png");
			background-size: 54%;
		}
	}
}
