$primary-eye: #e93434;
$darkest-grey: #333;
$accompany-grey: #444;
$soft-white: #FCFCFC;
$bg-white: #fdfdfd;
$border-grey: #B3B3B3;

$bonk-skins-bg: #1f904c;
$reddit-bot-bg: #323232;
$strat-roulette-bg: #14507b;
$game-engine-bg: #ca6a8a;
