$primary-eye: #e93434;
$darkest-grey: #333;
$accompany-grey: #444;
$soft-white: #FCFCFC;
$bg-white: #fdfdfd;
$border-grey: #B3B3B3;

$bonk-skins-bg-from: #285d3c;
$bonk-skins-bg-to: #1f904c;

$reddit-bot-bg-from: #1f1f1f;
$reddit-bot-bg-to: #3d3d3d;

$strat-roulette-bg-from: #14507b;
$strat-roulette-bg-to: #2078b6;

$game-engine-bg-from: grey;
$game-engine-bg-to: #CCC;
