$primary-eye: #e93434;
$darkest-grey: #333;
$accompany-grey: #444;
$soft-white: #FCFCFC;
$bg-white: #fdfdfd;
$border-grey: #B3B3B3;
$border-mid-grey: #999999;

$bonk-skins-bg-from: #255637;
$bonk-skins-bg-to: #1f904c;

$reddit-bot-bg-from: #1f1f1f;
$reddit-bot-bg-to: #424242;

$strat-roulette-bg-from: #14507b;
$strat-roulette-bg-to: #2078b6;

$game-engine-bg-from: #575757;
$game-engine-bg-to: #d6d6d6;
