body, body > header {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: $bg-white;
	font-family: "Roboto", sans-serif;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.6rem 2rem;
	transition: padding .1s ease;
	background-color: $bg-white;
	
	&.mini {
		padding: .6rem 2rem;
	}
	h1 {
		font-family: "Montserrat", sans-serif;
		font-size: 2rem;
		-webkit-font-smoothing: antialiased;
		-webkit-text-stroke: .45px;
		color: $darkest-grey;

		span {
			color: $primary-eye;
		}
	}
	a {
		color: inherit;
		text-decoration: none;
		display: block;
	}
	nav ul {
		list-style: none;

		li {
			display: inline-block;
			font-family: "Source Sans Pro", sans-serif;
			font-size: 1.1rem;
			color: $darkest-grey;

			a {
				padding: 1rem;
				position: relative;

				&:after {
					content: "";
					position: absolute;
					left: 0;
					top: 100%;
					width: 0%;
					height: 1px;
					background-color: $darkest-grey;
					transition: width .1s ease-out;
				}
				&:hover:after {
					width: 100%;
				}
			}
		}
	}
}

header {
	z-index: 2;
}
section.hero > div {
	z-index: 3;
}

div.anchor {
	height: 0;
	position: relative;
	top: -68px;
}
