section.hero {
	font-family: "Montserrat", sans-serif;
	background-color: #fdfdfd;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

section.hero .hero-inner {
	transform: translateY(-10vh);

	p {
		color: $accompany-grey;
		font-size: 1rem;
	}
	h1 {
		color: $darkest-grey;
		font-size: 5rem;
		margin-left: -6px;
		margin-bottom: 2px;
	}
	.links {
		margin-top: 18px;
		display: flex;
		// justify-content: space-between;
		align-items: center;
		
		.social-media {
			margin-right: 24px;

			img {
				width: 40px;
				margin-right: 16px;
				transition: transform .1s ease;

				&:hover {
					transform: scale(1.1);
				}
			}
		}

		a.project-link {
			font-size: 1.1rem;
			color: $accompany-grey;
			text-decoration: none;
			padding: 16px 0;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
