@media (max-width: 1600px) {
	header {
		background-color: $bg-white;
		border-bottom: 1px solid $border-mid-grey;
		z-index: 5;
	}
}
@media (max-width: 950px) {
	html, body {
		overflow-x: hidden;
	}
	header {
		&.mini {
			padding: .4rem 2rem;
		}
		nav {			
			&:after {
				content: "";
				background-color: rgba(40, 40, 40, .8);
				position: absolute;
				top: 0;
				width: 100vw;
				height: 100vh;
			}
			ul li {
				position: relative;
				display: block;
				text-align: right;
				background-color: $bg-white;
				font-size: 1.2rem;
				border-bottom: 1px solid $border-mid-grey;
				z-index: 1;
				
				&:after {
					display: none;
				}
				a {
					padding: 1rem 1rem;
				}
			}
		}
		.button-hamburger {
			$transition-time: .2s;
			display: block;

			& + nav {
				position: absolute;
				left: 0;
				right: 0;
				top: 100%;

				opacity: 0;
				pointer-events: none;
				transition: opacity $transition-time ease-out;

				li {
					opacity: 0;
					transition: opacity $transition-time ease-out;

					@for $i from 1 to 5 {
						&:nth-child(#{$i}) {
							transition-delay: $i * $transition-time / 2;
						}
					}
				}
			}
			&.expanded {
				& + nav {
					opacity: 1;
					pointer-events: auto;

					li {
						opacity: 1;
					}
				}
			}
		}
	}
	main.content {
		overflow-y: hidden;
	}
	section {
		&.hero {
			min-height: 95vh;
			
		 .hero-inner {
				max-width: 80vw;

				h1 {
					font-size: 3rem;
				}
			}
		}
		&.about {
			flex-direction: column;
			padding: 30px 0;
			
			& > div:last-of-type {
				margin-bottom: 0 !important;
			}
			.about-section {
				margin: 5vh 0 !important;
			}
			.about-section p {
				margin-bottom: $line-height;
			}
			.about-section-links {
				line-height: $line-height;

				span {
					display: block !important;

					&:after {
						display: none !important;
					}
				}
			}
			.tech-list {
				max-width: 100% !important;

				.tech img {
					max-width: 80px !important;
					padding: 20px 10px !important;
					filter: none !important;
				}
			}
		}
		&.project {
			flex-direction: column !important;
			align-items: stretch;
			min-height: unset;
			
			& > div:nth-of-type(2) {
				flex: 1;
				margin-top: 2em;
				margin-bottom: 2em;
			}
			.project-section {
				.info-technology, .info-links {
					margin-top: 10px !important;
				}
				.info-technology {
					text-align: center;

					ul li {
						padding: .4rem !important;
					}
				}
				.preview-image {
					height: 40vh !important;
				}
			}
			&.shoutout {
				@media (max-width: 950px) and (min-width: 420px) {
					.preview-image {
						background-size: 50%;
					}
				}
			}
			&.bonk-skins {
				background: linear-gradient(to bottom, $bonk-skins-bg-to 50%, $bonk-skins-bg-from);

				.preview-image {
					@include project-preview-fade-mobile($bonk-skins-bg-to);
				}
			}
			&.reddit-bot {
				background: linear-gradient(to top, $reddit-bot-bg-from, $reddit-bot-bg-to);
			}
			&.strat-roulette {
				background: linear-gradient(to top, $strat-roulette-bg-from, $strat-roulette-bg-to 50%);

				.preview-image {
					@include project-preview-fade-mobile($strat-roulette-bg-to);
				}
			}
			&.game-engine {
				background: linear-gradient(to top, $game-engine-bg-from, $game-engine-bg-to);
			}
		}
		&.contact {
			flex-direction: column;

			h1 {
				font-size: 2.8rem;
			}
			.hero-email-text {
				font-size: 1.2rem !important;
			}
		}
	}
	h1 {
		font-size: 2.8rem;
	}
	h2 {
		font-size: 1.3rem;
	}
}
