extends ./layouts/base.pug

block head
	link(rel="stylesheet" href="./css/home.css")

block content
	.title
		p Hi, I'm
		h1 Matthew Widdicombe
		p I'm a full stack web developer and UI/UX designer.