extends ./layouts/base.pug

include ./partials/_hero.pug
include ./partials/_contact.pug
include ./partials/_project.pug

block head
	link(rel="stylesheet" href="./css/main.css")

block content
	+hero
	+project("Bonk Skins")(class="bonk-skins")
		p This is a test project. I have made this project and this project was made by me.
	+project("Reddit Moderation Bot")(class="reddit-bot")
		p This is a test project. I have made this project and this project was made by me.
	+project("Game Strategy Generator")(class="strat-roulette")
		p This is a test project. I have made this project and this project was made by me.
	+project("Browser Game Engine")(class="game-engine")
		p This is a test project. I have made this project and this project was made by me.
	+contact

	script(src="./js/main.js")