extends ./layouts/base.pug

include ./partials/_hero.pug
include ./partials/_contact.pug
include ./partials/_project.pug

block head
	link(rel="stylesheet" href="./css/main.css")

block content
	+hero
	+project("Bonk Skins")(class="bonk-skins")
	+contact

	//- floating colour bar
	//- .colour
	//- bottom colour section
	section.colour

	script(src="./js/main.js")