extends ./layouts/base.pug

include ./partials/_hero.pug
include ./partials/_about.pug
include ./partials/_contact.pug
include ./partials/_project.pug

block head
	link(rel="stylesheet" href="./css/main.css")

block content
	+hero
	
	+about

	#projects
		+project({
			title: "Shoutout",
			repo: "https://github.com/MatthewWid/Shoutout",
			demo: "http://shoutoutsocial.herokuapp.com/",
			tech: ["Node.js", "MongoDB", "Mongoose", "React", "SASS", "webpack", "Cloudinary"]
		})(class="shoutout")
			p News sharing and social media site. Users can create an account, submit posts, upload images, like eachothers' posts and follow eachother.

		+project({
			title: "Bonk Skins",
			repo: "https://github.com/MatthewWid/bonk-skins.io",
			demo: "http://bonk-skins.herokuapp.com",
			tech: ["PHP", "MySQL", "JavaScript", "SASS"]
		})(class="bonk-skins")
			p Public forum of game avatars that allows users to create their own avatars with a rich interactive user interface and then download and share their creations to the front page.

		+project({
			title: "Reddit Moderation Bot",
			repo: "https://github.com/MatthewWid/needamod-bot",
			demo: "https://www.reddit.com/user/needamod-bot",
			tech: ["Node.js", "MongoDB"]
		})(class="reddit-bot")
			p Automated bot for tagging, analysing and moderating forum posts, managing user information and storing post information for statistical analysis.

		+project({
			title: "Game Strategy Generator",
			repo: "https://github.com/MatthewWid/OW-StratRoulette",
			tech: ["PHP", "MySQL", "JavaScript"]
		})(class="strat-roulette")
			p Generate game strategies from a central database of game plans that users can contribute to and read from.
			
		+project({title: "Browser Game Engine", repo: "https://github.com/MatthewWid/Whirl", doc: "https://MatthewWid.github.io/Whirl/", tech: ["SASS", "Node.js", "JavaScript", "webpack"]})(class="game-engine")
			p Canvas-based browser game engine that handles rendering, game states, user input and object management on-top of a custom event system.
	
	+contact

	script(src="/js/main.js")
