include ./_tech.pug

mixin about
	section.about#about-me
		.about-section
			.about-section-inner
				h1 Who I am
				p I'm Matt. I'm a #[b full-stack web developer] with an interest in UI/UX design.
				p I create beautiful, functional and worthwhile #[b applications for the web].
				p In my free time I work on #[b personal projects], study and host a mean board game night.
				p Based in #[img(src="/images/icons/mapmarker.svg" alt="Map Marker Icon" class="marker-icon")] Sydney, Australia.

				.about-section-links
					span: a(href="mailto:matthew.widdi@gmail.com" target="_blank") matthew.widdi@gmail.com
					span: a(href="/resume" target="_blank") Resume
					span: a(href="/linkedin" target="_blank") LinkedIn
					span: a(href="/github" target="_blank") GitHub
					span: a(href="/codepen" target="_blank") CodePen
		.about-section
			.about-section-inner
				h1 My Tech.
				.tech-list
					+tech("React", "https://reactjs.org/", "react.svg")
					+tech("Redux", "https://redux.js.org/", "redux.svg")
					+tech("Node", "https://nodejs.org/", "node.png")
					+tech("TypeScript", "https://www.typescriptlang.org/", "ts.png")
					+tech("SASS / SCSS", "https://sass-lang.com/", "sass.png")
					+tech("Pug", "https://pugjs.org/", "pug.svg")
					+tech("MongoDB", "https://www.mongodb.com/", "mongodb.svg")
					+tech("Mongoose", "https://mongoosejs.com/", "mongoose.png")
					+tech("Koa", "https://koajs.com/", "koa.svg")
					+tech("PHP", "https://php.net/", "php.svg")
					+tech("SocketIO", "https://socket.io/", "socket-io.svg")
					+tech("MySQL", "https://www.mysql.com/", "mysql.svg")
					+tech("SQLite", "https://www.sqlite.org/", "sqlite.svg")
					+tech("webpack", "https://webpack.js.org/", "webpack.svg")
					+tech("Babel", "https://babeljs.io/", "babel.svg")
					+tech("Yarn", "https://yarnpkg.com/", "yarn.svg")
					+tech("npm", "https://www.npmjs.com/", "npm.svg")
					+tech("AWS", "https://aws.amazon.com/", "aws.svg")
					+tech("GitHub", "https://github.com/", "github.svg")
					+tech("BitBucket", "https://bitbucket.org/product/", "bitbucket.svg")
					+tech("Git", "https://git-scm.com/", "git.svg")
