mixin about
	section.about
		.about-section
			.about-section-inner
				h1 👋 Who I am
				p I'm Matt. I'm a full stack web developer and UI/UX designer.
				p I specialise in creating beautiful, functional and worthwhile applications for the web.
				p In my free time I work on personal projects 💻, study 🎓 and host a mean board game night 🎲.

				.about-section-links
					span
						a(href="mailto:matthew.widdi@gmail.com" target="_blank") matthew.widdi@gmail.com
					span ■
					span
						a(href="#" target="_blank") Resume
					span ■
					span
						a(href="https://www.linkedin.com/in/matthew-widdicombe" target="_blank") LinkedIn
					span ■
					span
						a(href="https://github.com/MatthewWid" target="_blank") GitHub
		.about-section
			.about-section-inner
				h1 💪 Skills
				.skills-tables
					.skills-table
						h2 Front-End
						ul
							li React
							li JavaScript (ES6+)
							li CSS
							li SASS
							li HTML
							li Pug
					.skills-table
						h2 Back-End
						ul
							li NodeJS
							li Express
							li PHP
							li MySQL
							li SQLite
							li MongoDB
							li Python
							li Bottle
					.skills-table
						h2 Tooling
						ul
							li Yarn
							li npm
							li Webpack
							li Babel
							li Git
							li phpMyAdmin
