mixin about
	section.about#about-me
		.about-section
			.about-section-inner
				h1 👋 Who I am
				p I'm Matt. I'm a <b>full-stack web developer</b> with an interest in UI/UX design.
				p I create beautiful, functional and worthwhile <b>applications for the web</b>.
				p In my free time I work on <b>personal projects</b> 💻, study 🎓 and host a mean board game night 🎲.

				.about-section-links
					span
						a(href="mailto:matthew.widdi@gmail.com" target="_blank") matthew.widdi@gmail.com
					span.links-spacer ■
					span
						a(href="/resume" target="_blank") Resume
					span.links-spacer ■
					span
						a(href="/linkedin" target="_blank") LinkedIn
					span.links-spacer ■
					span
						a(href="/github" target="_blank") GitHub
		.about-section
			.about-section-inner
				h1 💪 Skills
				.skills-tables
					.skills-table
						h2 Front-End
						ul
							li React
							li JavaScript
							li CSS
							li SASS
							li HTML
							li Pug
					.skills-table
						h2 Back-End
						ul
							li NodeJS
							li Express
							li PHP
							li MySQL
							li SQLite
							li MongoDB
					.skills-table
						h2 Tooling
						ul
							li Yarn
							li npm
							li Webpack
							li Babel
							li Git
							li phpMyAdmin
