include ./_tech.pug

mixin about
	section.about#about-me
		.about-section
			.about-section-inner
				h1 Who I am
				p I'm Matt. I'm a #[b full-stack web developer] with an interest in UI/UX design.
				p I create beautiful, functional and worthwhile #[b applications for the web].
				p In my free time I work on #[b personal projects], study and host a mean board game night.
				p Based in #[img(src="./images/icons/mapmarker.svg" alt="Map Marker Icon" class="marker-icon")] Sydney, Australia.

				.about-section-links
					span: a(href="mailto:matthew.widdi@gmail.com" target="_blank") matthew.widdi@gmail.com
					span: a(href="/resume" target="_blank") Resume
					span: a(href="/linkedin" target="_blank") LinkedIn
					span: a(href="/github" target="_blank") GitHub
					span: a(href="/codepen" target="_blank") CodePen
		.about-section
			.about-section-inner
				h1 My Skills
				.tech-list
					//- a.tech(href="https://reactjs.org/" title="ReactJS" target="_blank"): img(src="./images/tech/react.svg" alt="React Logo")
					+tech("ReactJS", "https://reactjs.org/", "react.svg")
					+tech("NodeJS", "https://nodejs.org/", "node.png")
					+tech("SASS / SCSS", "https://sass-lang.com/", "sass.png")
					+tech("PugJS", "https://pugjs.org/", "pug.svg")
					+tech("MongoDB", "https://www.mongodb.com/", "mongodb.svg")
					+tech("Mongoose", "https://mongoosejs.com/", "mongoose.png")
					+tech("PHP", "https://php.net/", "php.svg")
					+tech("SocketIO", "https://socket.io/", "socket-io.svg")
					+tech("MySQL", "https://www.mysql.com/", "mysql.svg")
					+tech("SQLite", "https://www.sqlite.org/", "sqlite.svg")
					+tech("webpack", "https://webpack.js.org/", "webpack.svg")
					+tech("Babel", "https://babeljs.io/", "babel.svg")
					+tech("Yarn", "https://yarnpkg.com/", "yarn.svg")
					+tech("npm", "https://www.npmjs.com/", "npm.svg")
					+tech("GitHub", "https://github.com/", "github.svg")
					+tech("Git", "https://git-scm.com/", "git.svg")
