//- TODO:
//- Redo contact card with flat design.
mixin contact
	section.contact#contact
		h1 Get in touch
		.contact-email
			a(href="mailto:matthew.widdi@gmail.com" title="Email me")
				img(src="./images/icons/email.svg" alt="Email Icon")
				span.hero-email-text matthew.widdi@gmail.com
