mixin hero
	section.hero
		.hero-inner
			p Hi, I'm
			h1 Matthew Widdicombe
			p I'm a full stack web developer and UI/UX designer.

			.links
				.social-media
					a(href="https://www.linkedin.com/in/matthew-widdicombe" title="LinkedIn" target="_blank"): img(src="./images/linkedin.svg" alt="LinkedIn Logo")
					a(href="https://github.com/MatthewWid" title="GitHub" target="_blank"): img(src="./images/github.svg" alt="GitHub Logo")
					//- a(href="https://twitter.com/MatthewWidd" title="Twitter"): img(src="./images/twitter.svg" alt="Twitter Logo")
					a(href="mailto:matthew.widdi@gmail.com" title="Email me" target="_blank"): img(src="./images/email.svg" alt="Email Icon")
				//- a.project-link(href="/projects") See my projects ➡
		.hero-scroll-indicator