mixin hero
	section.hero#hero
		.hero-inner
			p Hi, I'm
			h1 Matthew Widdicombe
			p Full-stack web developer.

			.links
				.social-media
					a(href="/linkedin" title="LinkedIn" target="_blank"): img(src="./images/icons/linkedin.svg" alt="LinkedIn Logo")
					a(href="/github" title="GitHub" target="_blank"): img(src="./images/icons/github.svg" alt="GitHub Logo")
					.hero-email
						a(href="mailto:matthew.widdi@gmail.com" title="Email me"): img(src="./images/icons/email.svg" alt="Email Icon")
						.hero-email-text matthew.widdi@gmail.com
		.hero-scroll-indicator(data-scroll="about-me")
