mixin hero
	section.hero
		.hero-inner
			p Hi, I'm
			h1 Matthew Widdicombe
			p I'm a full stack web developer and UI/UX designer.

			.links
				.social-media
					a(href="https://www.linkedin.com/in/matthew-widdicombe" title="LinkedIn" target="_blank"): img(src="./images/icons/linkedin.svg" alt="LinkedIn Logo")
					a(href="https://github.com/MatthewWid" title="GitHub" target="_blank"): img(src="./images/icons/github.svg" alt="GitHub Logo")
					.hero-email
						a(href="mailto:matthew.widdi@gmail.com" title="Email me" target="_blank"): img(src="./images/icons/email.svg" alt="Email Icon")
						.hero-email-text matthew.widdi@gmail.com
		.hero-scroll-indicator