mixin project(title, github, demo)
	section.project(class!=attributes.class)
		.project-section
			.preview-image
		.project-section
			.info
				h1.info-title= title
				if block
					.info-description
						block
				else
					.info-description
				.info-technology
					if tech
						ul
							each val in tech
								li= val
				.info-links