mixin project(title, technology, github, demo)
	section.project(class!=attributes.class)
		.project-section
			.preview-image
		.project-section
			.info
				h1.info-title= title
				.info-description
				.info-technology
				.info-links