section.contact {
	min-height: 200px; // or 20vh
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	h1 {
		font-family: "Montserrat", sans-serif;
		font-size: 4rem;
		color: $darkest-grey;
	}
	.contact-email {
		a {
			display: flex;
			align-items: center;

			color: $accompany-grey;
			font-family: "Montserrat", sans-serif;
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;

				img {
					transform: scale(1.1);
				}
			}
			img {
				width: 40px;
				margin-right: 16px;

				transition: transform .1s ease;
			}
			span {
				font-size: 1.4rem;
			}
		}
	}
}
