doctype html
html
	head
		title #{title && (title + " - ")}Matthew Widdicombe
		meta(content="width=device-width, initial-scale=1" name="viewport")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700|Source+Sans+Pro:600|Roboto")
		block head

	body
		block header
			header
				h1
					a(href="/#") M#[span •]W
				nav
					ul
						li: a(href="/#about-me") about me
						li: a(href="/#projects") projects
						li: a(href="/#contact") contact

		main.content
			block content
